.intro {
    margin-top: 130px;
}
.intro__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.intro__logo img{
    max-width: 100%;
    height: auto;
}
.intro__text {
    font-size: 18px;
    line-height: 22px;
    font-family: 'Gilroy-medium';
    text-align: center;
}
.intro__lang {
    transform: rotate(-90deg);
}
.intro__lang span {
    font-size: 16px;
    line-height: 20px;  
    color: #828282;
    transition: color .3s linear;
}
.intro__lang span:hover {
    color: #070707;
    cursor: pointer;
}
.intro__lang span:nth-child(2):hover{
    color: #828282;
}

.intro__img img{
    max-width: 100%;
    height: auto;
    margin-top: 30px;
}

@media(max-width:480px){
    .intro__content {
        display: flex;
        flex-direction: column;
        right: 0;
    }
    .intro__logo{
        margin-bottom: 20px;
    }
    .intro__text {
        margin-bottom: 20px;
    }
    .intro__lang {
        transform: rotate(0deg);
    }

}