.portfolio {
    padding: 100px 0;
    background: #f6f6f6;
    text-align: center;
}

.potfolio__title {
    margin-bottom: 45px;
}


.portfolio__block {
    margin-bottom: 100px;
}
.portfolio__block:last-child {
    margin-bottom: 0px;
}
.portfolio__block img {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}
.portfolio__subtitle {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    cursor: pointer;
}